.loaderBubble {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: v.$bg;
    overflow-y: hidden;

    .bubble {
        position: inherit;
        padding-top: 100vh;
        background-image: url('./images/bubble.ico');
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        // transform: rotate(180deg);

        &:nth-child(1) {
            animation: slide-out-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(2) {
            animation: slide-out-bottom 2.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(3) {
            animation: slide-out-bottom 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(4) {
            animation: slide-out-bottom 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(5) {
            animation: slide-out-bottom 2.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(6) {
            animation: slide-out-bottom 2.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(7) {
            animation: slide-out-bottom 1.89s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(8) {
            animation: slide-out-bottom 1.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(9) {
            animation: slide-out-bottom 2.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(10) {
            animation: slide-out-bottom 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }

        &:nth-child(11) {
            animation: slide-out-bottom 1.88s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
        }
    }
}

@keyframes slide-out-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(-100);
        opacity: 1;
    }

}