.nav {
    background-color: v.$bg;
    display: flex;
    justify-content: space-between;
    // max-height: 4vh;

    .selected {
        border-radius: 16px 16px 0 0;
        background-color: v.$white;
        color: v.$bg;
    }

    div {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &>a {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &>a,
    &>div>a {
        color: v.$white;
        padding: 2%;

        &:hover {
            color: white;
        }
    }
}