.aboutMe {
    min-height: 96vh;
    background-color: v.$white;


    .aboutMe__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 96vh;

        .profilePic {
            width: 60%;
            border-radius: 50%;
            margin: 0.5%;
        }

        &>p {
            padding: 1%;
            margin: 0.5%;
            text-align: center;
            font-size: 1.3rem;
        }

        .artPic {
            width: 100%;
        }
    }
}